<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
* SPEECH TOKENIZER
* HANGOUTS PLUGIN
 */ -->
  <ModulePrefs title="Speech Tokenizer">
    <Require feature="rpc"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
<!DOCTYPE html>
<!-- Hangout API JavaScript -->
<script src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.0"></script>

<!-- Javascript Application -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="//speech-tokenizer-1282.appspot.com/app.js"></script>
<script src="//speech-tokenizer-1282.appspot.com/Webspeech.js"></script>
<script src="//speech-tokenizer-1282.appspot.com/tokenization/Token.js"></script>
<script src="//speech-tokenizer-1282.appspot.com/tokenization/Tokenize.js"></script>
<script src="//speech-tokenizer-1282.appspot.com/tokenization/JSON.js"></script>
<script src="//speech-tokenizer-1282.appspot.com/user/user.js"></script>
<script src="//speech-tokenizer-1282.appspot.com/interface/InterfaceRepDok.js"></script>
<script src="//speech-tokenizer-1282.appspot.com/documentResults/displayResults.js"></script>


<!-- CSS Plugin -->
<link rel="stylesheet" href="//speech-tokenizer-1282.appspot.com/app.css">

<div id="wrap">
	<h1>Speech Tokenizer</h1>
	<div>
		<dl>
			<dt><h2>Result:</h2></dt>
			<dt id="results"></dt>
			<dt span id="final_span" class="final"></dt>
			<dt id="button"><button id="startbutton" onClick="startButton(event)">Click</button></dt>
		</dl>
	</div>
	<p>Developer-Box</p>
	<div id="developer">
		<dl>
			<dt><b>Mic aktiv:</b></dt><dt id="micstatus">Warte auf Input...</dt>
			<dt><b>Hangouts-ID:</b></dt><dt id="hangoutsid"></dt>
		</dl>
	</div>
</div>
]]></Content>
</Module>
