<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
* SPEECH TOKENIZER
* HANGOUTS PLUGIN
 */ -->
  <ModulePrefs title="Speech Tokenizer">
    <Require feature="rpc"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
<!DOCTYPE html>
<!-- Hangout API JavaScript -->
<script src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.0"></script>

<!-- Javascript Application -->
<script src="//speech-tokenizer-1282.appspot.com/app.js"></script>
<script src="//speech-tokenizer-1282.appspot.com/Webspeech.js"></script>
<script src="//speech-tokenizer-1282.appspot.com/tokenization/Token.js"></script>
<script src="//speech-tokenizer-1282.appspot.com/tokenization/Tokenize.js"></script>

<h1 style="color: white">Speech Tokenizer</h1>
<div style="float: left; padding: 100px; border: 1px solid #EEE; color: white">
  <dl>
	<dt>Mic aktiv:</dt><dt id="micstatus"></dt>
	<dt>Hangouts-ID:</dt><dt id="hangoutsid"></dt>
	<dt>Result:</dt><dt id="results"></dt>
	<dt span id="final_span" class="final"></dt>
	<!-- <dt><button onClick="hangoutsid(state)">Click</button></dt>-->
	<dt id="button"><button id="startbutton" onClick="startButton(event)">Click</button></dt>
  </dl>
</div>

<div></div>
<div style="clear: both;"></div>

]]></Content>
</Module>
